.shared-post {
  .post-featured {
    float: left;
    width: 300px;
    
    img {
      width: 100%;
    }
  
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
  
  .post-content-container {
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 320px;
  
    .post-content {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;

      img {
        display: none;
      }
    }
  
    .post-category {
      cursor: pointer;
    }
  
    @media screen and (max-width: 800px) {
      float: left;
      padding: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}